body {
    margin: 0;
    padding: 0;
  }
  div {
    box-sizing: border-box;
}
  nav,footer,main {
    width: 100%;
  }
  nav {
      height: 50px;
      background-color: aqua;
      text-align: center;
      font-size: x-large;
      letter-spacing: 5px;
      
  }

  footer {
    height: 100px;
    background-color: blueviolet;
  }
  main {
    height: calc(100%-150px);
    background-color: chocolate;
  }
  #app {
    width: 70%;
  }
  .app-chooser {
    width: 30%;
    float: left;
    text-align: center;
  }
  #app, .app-chooser {
      height: 100%;
      display: inline-block;
      border: 1px solid black;
     
  }
 .nodisplay {
      display: none;
  }
  button {
    width: 60%;
    margin-top: 10px;
    height: 3em;
    border-radius: 10px;
    width: 1px;
    background-color: transparent;
  }
  button:hover {
      background-color: tomato;
  }